.jumbotron.text-center
  .h1
    Welcome to Elbie!
  .h4
    As a busy person, you have a whole squad of people around you that keep you looking and feeling good. Elbie is a place (like a “little black book”) to gather a directory of your teammates so you can have all of their information in one place.